<ul>
  <li><a href="/events">Events Dashboard</a></li>
  <li><a class="active" href="#">Edit Profile</a></li>
  <li><a href="/users/logout">Logout</a></li>
  <li style="float:right"><a href="#"><%= User.find(session[:user_id]).first_name %> <%= User.find(session[:user_id]).last_name %> (<%= User.find(session[:user_id]).email %>)</a></li>
</ul>

<h1>Edit Your Event</h1>
<fieldset style="max-width:500px">
    <legend>Event</legend> 
    <%= form_for @event, :url => url_for(:controller => 'events', :action => "update", :params => {id: session[:user_id]} ), method: :patch do |f| %>
    <table>
        <tbody>
            <tr>
                <td>Name:</td>
                <td><%= f.text_field :name %></td>
            </tr>
            <tr>
                <td>Date:</td>
                <td><%= f.date_field :date %></td>
            </tr>
            <tr>
                <td>Location:</td>
                <td><%= f.text_field :location %></td>
            </tr>
            <tr>
                <td>State:</td>
                <td><%= f.select :state, options_for_select(([
                                ["AK - Alaska", "AK"], 
                                ["AL - Alabama", "AL"], 
                                ["AR - Arkansas", "AR"], 
                                ["AS - American Samoa", "AS"], 
                                ["AZ - Arizona", "AZ"], 
                                ["CA - California", "CA"], 
                                ["CO - Colorado", "CO"], 
                                ["CT - Connecticut", "CT"], 
                                ["DC - District of Columbia", "DC"], 
                                ["DE - Delaware", "DE"], 
                                ["FL - Florida", "FL"], 
                                ["GA - Georgia", "GA"], 
                                ["GU - Guam", "GU"], 
                                ["HI - Hawaii", "HI"], 
                                ["IA - Iowa", "IA"], 
                                ["ID - Idaho", "ID"], 
                                ["IL - Illinois", "IL"], 
                                ["IN - Indiana", "IN"], 
                                ["KS - Kansas", "KS"], 
                                ["KY - Kentucky", "KY"], 
                                ["LA - Louisiana", "LA"], 
                                ["MA - Massachusetts", "MA"], 
                                ["MD - Maryland", "MD"], 
                                ["ME - Maine", "ME"], 
                                ["MI - Michigan", "MI"], 
                                ["MN - Minnesota", "MN"], 
                                ["MO - Missouri", "MO"], 
                                ["MS - Mississippi", "MS"], 
                                ["MT - Montana", "MT"], 
                                ["NC - North Carolina", "NC"], 
                                ["ND - North Dakota", "ND"], 
                                ["NE - Nebraska", "NE"], 
                                ["NH - New Hampshire", "NH"], 
                                ["NJ - New Jersey", "NJ"], 
                                ["NM - New Mexico", "NM"], 
                                ["NV - Nevada", "NV"], 
                                ["NY - New York", "NY"], 
                                ["OH - Ohio", "OH"], 
                                ["OK - Oklahoma", "OK"], 
                                ["OR - Oregon", "OR"], 
                                ["PA - Pennsylvania", "PA"], 
                                ["PR - Puerto Rico", "PR"], 
                                ["RI - Rhode Island", "RI"], 
                                ["SC - South Carolina", "SC"], 
                                ["SD - South Dakota", "SD"], 
                                ["TN - Tennessee", "TN"], 
                                ["TX - Texas", "TX"], 
                                ["UT - Utah", "UT"], 
                                ["VA - Virginia", "VA"], 
                                ["VI - Virgin Islands", "VI"], 
                                ["VT - Vermont", "VT"], 
                                ["WA - Washington", "WA"], 
                                ["WI - Wisconsin", "WI"], 
                                ["WV - West Virginia", "WV"], 
                                ["WY - Wyoming", "WY"]
                                ]), @event.state) %></td></tr>
            <tr>
                <td></td>
                <td style="text-align:right"><%= submit_tag 'Update Records' %></td>
            </tr>
        </tbody>
        <%end%>
    </table>
</fieldset>

<div style="overflow:auto;color:red">
    <p style="color:blue"><%= flash[:notice] %></p>
    <% if flash[:errors] %>
        <% flash[:errors].each do |e| %>
        <p><%= e%></p>
        <% end %>
    <% end %>
</div>